<div class="h-full flex flex-column align-items-center">

  <div class="h-12rem w-10 flex align-items-center justify-content-center h-4rem font-bold border-round m-2 bg-gray-50">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="w-full border-round-sm">
      <div class="w-12 py-4 px-2 flex flex-column gap-2">
        <label for="promotionName" class="text-600">Nome</label>
        <input
          id="promotionName"
          pInputText
          placeholder="Digite o nome da promoção"
          formControlName="nome"
          class="w-full"
        />
      </div>

      <div class="w-12 pb-4 px-2 flex flex-row gap-2">
        <p-dropdown
          placeholder="Tipo de cálculo"
          formControlName="tipo"
          optionLabel="label"
          optionValue="type"
          [showClear]="false"
          [options]="ALL_TYPES"
          (onChange)="selectPromotion($event)"
        >
          <ng-template let-promotion pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ promotion.label }}</div>
              <i
                [className]="promotion.icon"
                [style]="{ color: promotion.color }"
              ></i>
            </div>
          </ng-template>
        </p-dropdown>

        <span class="p-input-icon-left">
          <i
            *ngIf="facade.promotionType"
            [className]="facade.promotionType.icon"
            [style]="{ color: facade.promotionType.color }"
          ></i>
          <input
            id="promtionValue"
            pInputText
            formControlName="baseCalculo"
          />
        </span>
      </div>
    </form>
  </div>

  <div class="w-6 m-0 p-2 flex-grow-1">
    <app-promotions-items />
  </div>

  <div class="h-4rem w-10 p-2 flex align-items-center justify-content-between h-4rem font-bold border-round m-2 bg-gray-50">
    <p class="w-2 font-semibold text-2xl text-blue-900">
      {{ facade.promotion?.preco| currency : "BRL" }}
    </p>
    <p-button type="submit" label="Salvar" [disabled]="this.form.invalid"></p-button>
  </div>

</div>
