<p-toolbar styleClass="bg-gray-900 border-noround border-none h-2vh">

  <div class="p-toolbar-group-start">
    <p-button
      label="Dashboard"
      class="mr-2"
      styleClass="p-button-primary"
      routerLink="/dashboard"
      routerLinkActive="exact_route"
    >
      <fa-icon size="sm" [icon]="dashBoardIcon" class="mr-2" />
    </p-button>
  </div>


  <div class="p-toolbar-group-center">
    <p-button
      label="Ingredientes"
      class="mr-2"
      styleClass="p-button-primary"
      routerLink="/ingredients"
      routerLinkActive="exact_route"
    >
      <fa-icon size="sm" [icon]="ingredientsIcon" class="mr-2" />
    </p-button>

    <p-button
      label="Lanches"
      class="mr-2"
      styleClass="p-button-primary"
      routerLink="/hotdogs"
      routerLinkActive="exact_route"
    >
      <fa-icon size="sm" [icon]="hotDogsIcon" class="mr-2" />
    </p-button>

    <p-button
      label="Promoções"
      class="mr-2"
      styleClass="p-button-primary"
      routerLink="/promotions"
      routerLinkActive="exact_route"
    >
      <fa-icon size="sm" [icon]="promotionsIcon" class="mr-2" />
    </p-button>
  </div>

  <div class="p-toolbar-group-end">
    <p-button
      label="Logout"
      class="mr-2"
      styleClass="p-button-danger p-button-primary"
      routerLink="/"
      routerLinkActive="exact_route"
    >
      <fa-icon size="sm" [icon]="logoutIcon" class="mr-2" />
    </p-button>
  </div>
</p-toolbar>
