<form
  class="flex flex-column align-items-center h-full gap-2"
  [formGroup]="form"
  (ngSubmit)="handleSubmitHotdog()"
>

  <div class="w-4 bg-gray-50 p-2 pb-4 border-round-sm flex flex-column gap-2">
    <label for="hotdogName" class="text-600">Nome</label>
    <input id="hotdogName" pInputText placeholder="Digite o nome do lanche" formControlName="nome" class="w-full"/>
  </div>

  <div class="w-4 flex-grow-1 bg-gray-50 p-2 border-round-sm">
    <app-hot-dog-ingredients/>
  </div>


  <div class="flex flex-row w-12 p-2 justify-content-center bg-primary-50">

    <div class="flex flex-row align-items-center justify-content-between w-4">

      <p class="w-2 font-semibold text-2xl text-blue-900">
        {{ this.form.value.preco | currency : "BRL" }}
      </p>
      <p-button
        type="submit"
        label="Salvar"
        [disabled]="this.form.invalid"
      >
      </p-button>
    </div>

  </div>

</form>

